* {
    @include resetPage;
}
html{
    scroll-behavior:smooth;
}
body {
    font-family: $generalFont;
}

.nav-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $navbarBackground;
    opacity: .8;
    position: sticky;
    left: 0px;
    top: 0px;
    z-index: 1;
    .logo {
        margin-left: 20px;
        width: 100px;
    }
    nav{
        padding-top: 20px;
        height: 100%;
        display: flex;
        align-items: center;
        align-items: center;
        ul {
            display: flex;
            li {
                @include resetList;
                a {
                    @include resetLink;
                    color: $nabvarTextColor;
                    font-weight: 500;
                    font-size: 18px;
                }
            }
            .resources {
                @include button1;
            }
        }
    }
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $headerBackground;
    position: sticky;
    left: 0;
    top: 100px;
    z-index: -1;
    .left-header-container { 
        color: $headerTextColor;
        img{
            width: 40px;
        }
        h3 {
            font-size: 22px;
            margin-bottom: 20px;
            font-weight: 500;
        }

        h1 {
            font-size: 50px;
            margin-bottom: 20px;
        }

        h2 {
            color: $secondTextColor;

            overflow: hidden; /* Ensures the content is not revealed until the animation */
            border-right: .15em solid orange; /* The typwriter cursor */
            white-space: nowrap; /* Keeps the content on a single line */
            margin: 0 auto; /* Gives that scrolling effect as the typing happens */
            letter-spacing: .15em; /* Adjust as needed */
            animation: 
              typing 3.5s steps(30, end),
              blink-caret .75s step-end infinite;
        }

        p {
            margin-top: 10px;
            font-size: 18px;
            margin-bottom: 40px;
        }
        .my-github{
            @include button1;
            @include resetLink;
            background-color: #8838B4;
            color: white;
        }
    }

    .header-img-container {
        margin: 13vh 0px;

        img {
            border-radius: 50%;
        }
    }
}