* {
    @include resetPage;
}
html{
    scroll-behavior:smooth;
}
body {
    font-family: $generalFont;
    position: relative;
}

.nav-container {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $navbarBackground;
    opacity: .8;
    position: sticky;
    left: 0px;
    top: 0px;
    z-index: 1;
    #nav-input{
        display: none;
        &:checked + #nav-button .nav-span-1{
            transform: rotate(45deg) translateY(15px) translateX(15px);
            // background-color: red;
        }
        &:checked + #nav-button .nav-span-3{
            transform: rotate(135deg) translateY(20px) translateX(-15px);
            // background-color: blue;
        }
        &:checked + #nav-button .nav-span-2{
            visibility: hidden;
        }
        &:checked ~ nav{
            display: block !important;
            position: absolute;
            left: 0;
            top: 100px;
            width: 100%;
            height: 250px; 
            background-color: black; 
        }
        &:checked ~ nav ul{
            @include flex-center;
            flex-direction: column;
            // text-align: center;
                   
        }
        &:checked ~ nav ul li{
            margin-bottom: 10px;
        }
    }
    
    .logo {
        margin-left: 20px;
        min-width: 80px;
    }
    nav{
        padding-top: 20px;
        height: 100%;
        display: flex;
        ul {
            @include flex-center;
            li {
                display: flex;
                flex-direction: column;
                justify-content: center;
                @include resetList;
                a {
                    @include resetLink;
                    transition: .7s;
                    color: $nabvarTextColor;
                    font-weight: 500;
                    font-size: 18px;
                    &:hover{
                        color: $thirdTextColor;
                    }
                    &:hover + span{
                        opacity:1 ;
                    }
                }
                span{
                    opacity: 0;
                    display:inline-block;
                    width: 100%;
                    height:3px;
                    background-color: $thirdTextColor;
                }
            }
            .resources {
                @include button1;
            }
        }
    }
    .nav-button-container {
        .nav-span{
            display: none;
            margin-bottom: 20px;
            margin-right: 20px;
            height: 3px;
            width: 60px;
            background-color: white;
        }
    }
}

header {
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $headerBackground;
    position: sticky;
    left: 0;
    top: 0px;
    z-index: -1;
    .left-header-container { 
        color: $headerTextColor;
        img{
            width: 40px;
        }
        h3 {
            font-size: 22px;
            margin-bottom: 20px;
            font-weight: 500;
        }

        h1 {
            font-size: 50px;
            margin-bottom: 20px;
        }

        h2 {
            color: $secondTextColor;

            overflow: hidden; /* Ensures the content is not revealed until the animation */
            border-right: .15em solid orange; /* The typwriter cursor */
            white-space: nowrap; /* Keeps the content on a single line */
            margin: 0 auto; /* Gives that scrolling effect as the typing happens */
            letter-spacing: .15em; /* Adjust as needed */
            animation: 
              typing 3.5s steps(30, end),
              blink-caret .75s step-end infinite;
        }

        p {
            color: $thirdTextColor;
            margin-top: 10px;
            font-size: 18px;
            margin-bottom: 40px;
        }
    }

    .header-img-container {
        height: 100%;
        @include flex-center;
        img {
            border-radius: 50%;
            width: 400px;
        }
    }
    .arrow-container{
        position: absolute;
        left: 50%;
        top: 75vh;
        .arrow{
            margin-top: 10px;
            width: 50px;
            border-top: 2px solid white;
        }
        .arrow:nth-child(odd){
            transform: rotate(30deg);
        }
        .arrow:nth-child(even){
            transform: rotate(-30deg) translateX(43px) translateY(11px);
        }
        &>div{
            animation-duration: 1.5s;
            animation-name: arrow-animation;
            animation-iteration-count: infinite;
        }
        .arrow-1{
            animation-delay:.3s ;
        }
        .arrow-2{
            animation-delay:.6s ;
        }
        .arrow-3{
            animation-delay: .9s;
        }
    }
}
