main{
    .section-1{
        margin: auto;
        padding: 150px 0px;
        display: flex;
        background-color: white;
        
        .section-1-left{
            @include flex-center;
            width: 50%;
            img{
                width: 500px;
                -webkit-box-shadow: -13px -10px 0px 1px $secondTextColor; 
                box-shadow: -13px -10px 0px 1px $secondTextColor;
            }
        }
        .section-1-right{
            width: 50%;
            display: flex;
            align-items: center;
            .section-1-right-text-container{
                h3{
                    color: $secondTextColor;
                    margin-bottom: 10px;
                }
                h2{
                    margin-bottom: 10px;
                }
                text-align: justify;
                width: 50%;
                margin-left: 30px;
                font-size: 18px;
                line-height: 26px;
            }
        }
    }
    .section-2{
        padding: 100px 0px;
        background-color: $section1Background;
        .section-2-header-container{
            text-align: center;
            h3{
                color: $secondTextColor;
            }
            h2{
                color: white;
            }
        }
        .projects-container{
            width: 70%;
            margin: auto;
            padding: 50px 0px;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            color: white;
            .project{
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 70px;
                text-align: center;
                width: 340px;
                border: 1px solid $secondTextColor;
                padding: 20px;
                position: relative;
                h3{
                    margin-bottom: 10px;
                }
                &:hover .project-info{
                    opacity: 1;
                    @include animated-card;
                }
                .project-info{
                    border-radius: 10px;
                    background-color: $secondTextColor;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    color: black;
                    opacity: 0;
                    transition: 1s;
                    .info-logo-container{
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        width: 100%;
                        height: 15%;
                        margin-top:30px;
                        img{
                            width: 120px;
                            height: auto;
                        }
                    }
                    .project-info-text-container{
                        @include flex-center;
                        flex-direction: column;
                        height: 85%;
                    }
                    h3{
                        margin-bottom: 20px;
                    }
                    .github{
                        @include resetLink;
                        @include button1;
                        background-color: white;
                    }
                    p{
                        margin-bottom: 30px;
                        font-weight: 300;
                    }
                    a{
                        @include resetLink;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }
                }
                &>p{
                    height: 50px;
                }
            }
            img{
                width: 100%;
                height: 400px;
                transition: .5s;
                
            }
        }
    }
}