$generalFont: 'Roboto', sans-serif;

$navbarBackground:black;
$nabvarTextColor:white;
// $headerBackground:#212121;
$headerBackground:#212121;
$headerTextColor:white;

$section1Background:white;
$section1Color:#262626;
$imgShadow:#212121;

$secondTextColor:#00FFBB;

$section2Background:#212121;

$footerBackground:black;