// $generalFont: 'Roboto', sans-serif;

// $navbarBackground:black;
// $nabvarTextColor:white;
// $headerBackground:#212121;   
// $headerTextColor:white;

// $section1Background:white;
// $section1Color:#262626;
// $imgShadow:#212121;
// $secondTextColor:#00FFBB;

// $section2Background:#212121;

// $footerBackground:black;

$generalFont: 'Roboto', sans-serif;

$navbarBackground:#1B242F;
$nabvarTextColor:white;
$headerBackground:  #252934;
$headerTextColor:white;

$secondTextColor:#04C2C9;
$thirdTextColor:#E31B6D;
// $section1Background:white;
$section1Background: #F5F5F5;
$section1Color:#262626;
$imgShadow:#252934;

$section2Background:#252934;
$infoBackground:#F5F5F5;
$infoTextcolor:#252934;
$infoButtonBackground:#04C2C9;

$contactBackground:#252934;

$footerBackground:#1B242F;